body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#super {
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
}

#tacoscroll {
    height: 15%;
    width: 60%;
    box-shadow: 0 16px 2px -1px #e8d63c;
}

#nearby {
    height: 55%;
    width: 30%;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 25px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@import url(https://fonts.googleapis.com/css?family=Righteous);
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

h1 {
    ;
    color: white;
    font-family: 'Lobster', serif;
    font-size: 3em;
    text-shadow: .1em .em 0 hsla(230, 40%, 50%, 1);
    text-shadow: 7px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .8em;
    left: 3em;
    z-index: -1;
    text-shadow: .1em .em 0 hsla(230, 40%, 50%, 1);
    text-shadow: 7px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: linear-gradient( 45deg, transparent 15%, hsla(48, 20%, 90%, 1) 45%, hsla(48, 20%, 90%, 1) 95%, transparent 0);
    background-size: .1em .2em;
    -webkit-background-clip: text;
    animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
    0% {
        background-position: 0 0
    }
    0% {
        background-position: 100% -100%
    }
}

.tech-slideshow {
    height: 200px;
    max-width: 790px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    border-radius: 100px;
    border-top: 5px solid #e8d63c;
}

.tech-slideshow>div {
    height: 150px;
    width: 2526px;
    background: url(test.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    transform: translated(0, 0, 0);
    border: .5px solid #e8d63c;
}

.tech-slideshow .mover-1 {
    animation: moveSlideshow 19s linear infinite;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}

#splashtitle {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
    justify-content: center;
}

#middle {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6%;
    z-index: 1000;
}